.userForgotPassword {
  background-color: #2e2b34;
  color: white;
  padding: 0px 24px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  margin: auto;
}

.userForgotPassword span {
  width: 100px;
  margin-right: -190px;
  margin-top: -25px;
}

.otp {
  top: 0;
  left: 0;
}

.userForgotPassword-h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.userForgotPasswords {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  padding: 0;
}

.userForgotPasswords p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

.userForgotPasswords input {
  padding: 8px 12px;
  border: none;
  width: 250px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #423e48;
  color: #ffffff;
  outline: none;
}

.userForgotPasswords input::placeholder {
  color: #ffffff;
}

.userForgotPassword-click {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease;
  width: 150px;
}

.userForgotPassword-click:hover {
  background: linear-gradient(135deg, #eaf2ff, #b875ff);
}
